@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #130208;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    height: 400px;
    background-color: #1f0510;
    color: #f6d6bd;
    border-radius: 25px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

.left-info {
    width: 260px;
    height: 100%;
    float: left;
    display: flex;
    border-radius: 25px;
    justify-content: center;
    background: url(assets/img.gif);
    background-position: center;
    background-size: cover;
    transform: scale(1.03) perspective(200px);
    cursor: pointer;
    box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.left-info:hover {
    transform: scale(1.1) perspective(2500px) rotateY(5deg);
}

.pic-gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(135deg, #31051e 10%, #0f2a3f 100%);
    border-radius: 25px;
    opacity: 0.5;
}

.today-info {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    color: #f6d6bd;
}

.today-weather {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    bottom: 20px;
    left: 20px;
    color: #f6d6bd;
}

.today-weather .bx {
    font-size: 4.5rem;
    color: #c3a38a;
}

.weather-temp {
    font-weight: 700;
    font-size: 3.5rem;
    color: #f6d6bd;
}

.right-info {
    float: right;
    position: relative;
    height: 100%;
    padding-top: 25px;
    color: #f6d6bd;
}

.day-info {
    padding: 25px 35px;
    display: flex;
    flex-direction: column;
}

.day-info div:not(:last-child) {
    margin-bottom: 6px;
}

.day-info div .title {
    font-weight: 700;
    color: #ffffff;
}

.day-info div .value {
    float: right;
    color: 
    #d53c6a;
}

.days-list {
    display: flex;
    list-style: none;
    margin: 10px 35px;
    box-shadow: 0 5px 15px rgba(0, 0, 8, 0.35);
    border-radius: 18px;
    background-color: #31051e;
}

.days-list li {
    padding: 15px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 18px;
    transition: all 0.3s ease;
    color: #ffffff;
}

.days-list li .bx {
    margin-bottom: 5px;
    font-size: 2rem;
    color: #ff8274;
}

.days-list li:hover {
    transform: scale(1.1);
    background: #31051e;
    color: #d53c6a;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

.days-list li .day-temp {
    margin-top: 6px;
    font-weight: 700;
}

.btn-container {
    padding: 25px 35px;
}

.loc-button {
    outline: none;
    width: 100%;
    border: none;
    font-weight: 700;
    border-radius: 25px;
    padding: 10px;
    color: #fff;
    background: #31051e;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(13, 13, 20, 0.35);
    transition: all 0.3s ease;
}

.loc-button:hover {
    background: #d53c6a;
}
